In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
# import geopandas as gpd

In [2]:
ufo = pd.read_csv(r"ufo.csv", low_memory=False)

In [3]:
ufo.set_index('Unnamed: 0', inplace=True)

In [4]:
ufo.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,visit (seconds)
Unnamed: 0,,,,,,,,,,,,
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,255
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,307
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,280
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,202
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,255

In [5]:
#ufo.head()
ufo['shape'].unique()

array(['cylinder', 'light', 'circle', 'sphere', 'disk', 'fireball',
       'unknown', 'oval', 'other', 'cigar', 'rectangle', 'chevron',
       'triangle', 'formation', nan, 'delta', 'changing', 'egg', 'flash',
       'diamond', 'cross', 'teardrop', 'cone', 'pyramid', 'round',
       'crescent', 'flare', 'hexagon', 'dome', 'changed'], dtype=object)

In [6]:
ufo['shape'].value_counts()

light        17872
triangle      8489
circle        8453
fireball      6562
unknown       6319
other         6247
disk          6005
sphere        5755
oval          4119
formation     2657
cigar         2241
changing      2140
flash         1472
rectangle     1418
cylinder      1382
diamond       1308
chevron       1007
egg            845
teardrop       817
cone           367
cross          265
delta            8
crescent         2
round            2
dome             1
changed          1
pyramid          1
hexagon          1
flare            1
Name: shape, dtype: int64

In [7]:
ufo['country'].unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [8]:
ufo['city'].unique()

array(['san marcos', 'lackland afb', 'chester (uk/england)', ...,
       'calmar (canada)', 'aleksandrow (poland)', 'hamstead (hollyridge)'],
      dtype=object)

In [9]:
ufo['country'].describe()

count     76314
unique        5
top          us
freq      70293
Name: country, dtype: object

In [10]:
ufo['country'].count()

76314

In [11]:
ufo['country'].value_counts()

us    70293
ca     3266
gb     2050
au      593
de      112
Name: country, dtype: int64

In [ ]:
ufo